<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>table模块快速使用</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/layui.css',_external=True) }}">
    <script rel="stylesheet" src="{{ url_for('static',filename='js/layui.js') }}"></script>

</head>
<body>

<table id="demo" lay-filter="demo"></table>


<script>
layui.use('table', function(){
  var table = layui.table;

  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 312
    ,url: '/api/data/highIncrease' //数据接口
    ,parseData: function(res){ //res 即为原始返回的数据
        let data = res
        return {
          "code": 0, //解析接口状态
          "msg": '', //解析提示文本
          "count": res.length, //解析数据长度
          "data": res//解析数据列表
        };
      }
     ,page: true //开启分页
     ,cols: [[ //表头
      {field: "season", title: '预告季', width:80, sort: true, fixed: 'left'}
      ,{field: "scode", title: '代码', width:80}
    ]]
  });

});
</script>
</body>
</html>