{% extends "query/query_form_and_table_tmpt1.html" %}
{% block title %} 高利润率甄股 {% endblock %}
{% block subHead %}
{% endblock  subHead %}

{% block page_caption %}
    <span class="layui-icon">&#xe627;</span><span>&nbsp高利润率金牛甄选</span>
{% endblock page_caption %}
{% block document_ready_script %}
    mytable.view.wt.update('onCellDblClick', function (event,coords,TD) {
        col = coords.col
        code = TD.innerHTML
        if (col ==1) {
        window.open("{{ url_for('com.view',dir='stock', view_key='company_detail') }}?code="+code);
        }
    });
{% endblock %}