<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="../../static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="../../static/css/my_bulma.css">
    <link rel="stylesheet" href="../../static/css/my_handsontable.css">
    <script src="https://kit.fontawesome.com/e52eb81a40.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../static/handsontable/handsontable.min.css" />
    <script src="../../static/handsontable/handsontable.min.js"></script>
    <script src="../../static/js/jQuery/jquery-3.6.0.min.js"></script>
    <style>


    </style>
</head>
<body>

<section class="hero is-primary is-fullheight">
    <section id="sec_query">
        <div class="container is-fluid">
            <div class="card">
                <header class="card-header mt-3" style="height: 35px">

                    <p class="card-header-title">
                        <i class="fas fa-plane-departure"></i>
                        &nbsp;高净利率甄股
                    </p>
                </header>
                <div class="card-content p-3">
                    <form>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <nav class="level m-0 p-0">
                                        <label class="label level-item level-right pt-2">净利润率 > &nbsp;</label>
                                        <div class="control level-item level-left">
                                            <input class="input w_input_rate"
                                                   value="30"
                                                   type="text" placeholder="number only"> &nbsp; %
                                        </div>
                                    </nav>
                                    <p class="help1">&nbsp;明星大于40%</p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <nav class="level m-0 p-0">
                                        <label class="label level-item level-right pt-2">资产负债率 < &nbsp;</label>
                                        <div class="control level-item level-left">
                                            <input class="input w_input_rate"
                                                   value="60"
                                                   type="text" placeholder="number only"> &nbsp; %
                                        </div>
                                    </nav>
                                    <p class="help1">&nbsp;正常30%-60%</p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <nav class="level m-0 p-0">
                                        <label class="label level-item level-right pt-2">pe_2s < &nbsp;</label>
                                        <div class="control level-item level-left">
                                            <input class="input w_input_rate"
                                                   value="25"
                                                   type="text" placeholder="number only"> &nbsp; %
                                        </div>
                                    </nav>
                                    <p class="help1">&nbsp;按行业不一而同</p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <nav class="level m-0 p-0">
                                        <label class="label level-item level-right pt-2">当季扩张速率 > &nbsp;</label>
                                        <div class="control level-item level-left">
                                            <input class="input w_input_rate"
                                                   value="5"
                                                   type="text" placeholder="number only"> &nbsp; %
                                        </div>
                                    </nav>
                                    <p class="help1">&nbsp;最近的报告季</p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <nav class="level m-0 p-0">
                                        <label class="label level-item level-right pt-2">两年成长速率 >&nbsp;</label>
                                        <div class="control level-item level-left">
                                            <input class="input w_input_rate"
                                                   value="65"
                                                   type="text" placeholder="number only"> &nbsp; %
                                        </div>
                                    </nav>
                                    <p class="help1">&nbsp;两个报告年度</p>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <footer class="card-footer has-text-primary" style="height: 40px">
                    <a href="#" class="card-footer-item">甄 - 选</a>
                </footer>
            </div>
        </div>
    </section>
    <section id="sec_data" class="mt-3 pt-0" style="height:500px; vertical-align:top">
        <div class="container is-fluid">
            <div class="box p-2">
                <div id="example1" ></div>
            </div>
        </div>
    </section>
</section>
<script>

    const container = document.getElementById('example1');
    var initHot = function (data) {
        var hot = new Handsontable(container, {
            data: data,
            className: 'custom-table',
            //表头信息
            colHeaders: ['代码', '名称','净利率','资产负债率','两季估值',
                '预报净利环比','预报扣非环比','预告营收换比','2年营收同比','2年净利同比'],
            clWidth:100,
            columns: [
                {data: '股票代码'},
                {data: '股票简称'},
                {data: '净利率'},
                {data: '资产负债率'},
                {data: 'PE_2S'},
                {data: 'netprofit_hb'},
                {data: 'kfprofit_hb'},
                {data: 'income_hb'},
                {data: 'in_2y_tb'},
                {data: 'np_2y_tb'}
            ],
            //序号列头
            rowHeaders: true,
            minSpareRows: 1,
            width: '100%',
            columnSorting: true,
            //去掉水印
            licenseKey: 'non-commercial-and-evaluation',
            autoColumnSize: true,
            copyable: true

        });
    };

    function getDate() {
        var data = {}
        $.ajax({
            url: "http://127.0.0.1/ajaxapi/hm",
            dataType: "json",
            success: function (result) {
                //获取数据
                data = result.data;
                initHot(data);
            },
            error: function () {
                alert("ajax加载失败");
            }
        });
        return data;
    }

    $(document).ready(function () {
        getDate();
    });



</script>
</body>
</html>