{% extends "iframe_tmpt.html" %}
{% block title %}
{% endblock %}
{% import 'jinja2_macro/macro_html_ele.html' as htm_ele %}

{% block head %}
    <!-- 此模板固定对应上方一个查询form(layui form),下方一个数据表格(handsontable) -->
    <link rel="stylesheet" href="{{ url_for('static',filename='handsontable/handsontable.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/my_handsontable.css') }}">
    <script src="{{ url_for('static',filename='handsontable/handsontable.min.js') }}"></script>

    {% block subHead %}
    {% endblock subHead %}

{% endblock %}

{% block body %}

{% set show_search = qc.get('show_search',True)  %}
    {% if show_search %}
<div class="layui-row" >
        <div class="layui-card shadow" >
            <div class="layui-card-header" style="height: 40px">
                <div class="layui-row">
                        <div class="layui-col-md2" >
                            {% block page_caption %}
                                <span class="layui-icon">&#xe627;</span><span>&nbsp{{ qc.get('search_title','') }}</span>
                            {% endblock page_caption %}

                        </div>
                        <div class="layui-col-md7" >
                            &nbsp
                        </div>
                        <div class="layui-col-md3" style="margin-top: 5px">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal"
                                    style="width: 100px;"
                                    onclick="load_handsonTable()">
                                甄 - 选
                            </button>
                        </div>
                    </div>
            </div>
            {% set labels = qc.get('label') %}
            {% if labels %}
            <div class="layui-card-body">

                {% set moreCols=namespace(num=1) %}
                <form id="query_form" class="layui-form-pane" action="">

                        {% for name in qc.get('param')  -%}
                            {%- set ele = htm_ele.col_md3_input(label=qc.get('label')[loop.index0],
                                name=name,value=qc.get('def_val')[loop.index0]) -%}
                            {% if loop.index%4==1 -%}
                                <div class="layui-row">{{ '\n' }}
                            {%- endif -%}
                                    {{ele}}
                            {% if loop.index/4==1 -%}
                                </div>{{ '\n' }}
                            {%- endif -%}
                                {% set moreCols.num=loop.index %}
                        {% endfor %}
                        {{ htm_ele.col_md3_empty(4-moreCols.num%4) }}

                </form>
                <div class="layui-row" style="margin-bottom: 2px">
                    <!--空白条2px-->
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="layui-row" style="margin-top: 10px">
        {% include 'base/handsontable_script.html' %}
    </div>

    {% block bodyBottom %}
    {% endblock bodyBottom%}

{% endblock %}




