<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><!--需要一个变量传递title--> -大道</title>
    <link rel="shortcut icon" href="http://127.0.0.1/static/favicon.ico"
          type="image/x-ico" media="screen">
    <!-- 此模板固定对应上方一个查询form(layui form),下方一个数据表格(handsontable) -->
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/my.css">
    <!-- js -->
    <script src="/static/js/jQuery/jquery-3.6.0.min.js"></script>



    <script>
        $(document).keyup(function (e) {//捕获文档对象的按键弹起事件
            if (e.keyCode == 13) {//按键信息对象以参数的形式传递进来了
                stock_key =$('#stock').val().trim()
                if(stock_key==''){
                    alert('值不能为空')
                    return
                }
                url = "http://127.0.0.1/stock/company_detail?code="+stock_key
                //alert(url)
                window.open(url,target="_blank");
            }
        });


    </script>
    <style>
        .bigQueryInput {
            width:400px;
            height:50px;
            padding: 5px 20px;
            font-size: large;
            color: #3c3c3c;
            background-color: rgba(244, 244, 244, 0.8);
            border-radius:  20px ;
            border: 0;
        }

        .layui-nav-child dd{

        }
    </style>

</head>
<body>

<div class="layui-layout ">
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll ">
            <div class="kit-side-fold" >
                <li class="layui-icon" style="padding:10px 40px 10px 40px" >&#xe668;</li>
            </div>
            <ul class="layui-nav layui-nav-tree" lay-filter="test" style="align-items: center;">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon"> &#xe735; </i><span> 甄股</span></a>
                    <dl class="layui-nav-child"  >
                        <dd><a href="{{ url_for('q.query', query_key='mystock')}}">自选很多</a></dd>
                        <dd><a href="{{ url_for('q.query', query_key='strategy.yrglp')}}">策略</a></dd>
                        <dd><a href="{{ url_for('q.query', query_key='rank')}}">排名</a></dd>
                        <dd><a href="{{ url_for('page',dir='stock',page='query')}}">查询</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item " >
                    <a href="javascript:;"><i class="layui-icon"> &#xe62c; </i><span> 市场</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('market.home') }}">状态总览</a></dd>
                        <dd><a href="{{ url_for('trend.xgxd') }}">新高新低</a></dd>
                        <dd><a href="{{ url_for('trend.xgxd') }}">热点人气</a></dd>
                        <dd><a href="{{ url_for('trend.xgxd') }}">股东变化</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon"> &#xe63c; </i><span> 大宗</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="{{ url_for('dz.price') }}">价格变动</a></dd>
                        <dd><a href="{{ url_for('dz.jicha') }}">基差分析</a></dd>
                        <dd><a href="{{ url_for('dz.storage') }}">库存变化</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon"> &#xe620; </i><span> 系统</span></a>
                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <input type="radio" name="sex" value="男" title="男" >
        <input type="radio" name="sex" value="女" title="女" checked>
    </div>
    <script>
        $(":radio").on("change",function(){
            let where = getInputToWhere()
            alert('final value is '+where['sex'])
        });
        function getInputToWhere(){
            var a= $( ":input");
            var where={}
            $.each(a,function(){
                if (this.type=='radio'){
                   if(this.checked !=true){
                       return true
                   }
                }
                where[this.name] = this.value
            })
            return where
        }


    </script>

</div>
<script>
    side_width = 100
    side_small_with = 50
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
    var isShow = true;  //定义一个标志位
    $('.kit-side-fold').click(function(){
        //选择出所有的span，并判断是不是hidden
        $('.layui-nav-item span').each(function(){
            if($(this).is(':hidden')){
                $(this).show();
            }else{
                $(this).hide();
            }
        });
        //判断isshow的状态
        if(isShow){
            $('.layui-side').width(side_small_with); //设置宽度
            $('.kit-side-fold li').css('padding-left', '20px');  //修改图标的位置
            $('.kit-side-fold li').html('&#xe66b;')
            //将footer和body的宽度修改
            $('.layui-body').css('left', side_small_with+'px');

            //将二级导航栏隐藏
            $('dd a').each(function(){
                $(this).hide();
            });
            //修改标志位
            isShow =false;
        }else{
            $('.layui-side').width(side_width);
            $('.kit-side-fold li').css('padding-left', '40px');
            $('.kit-side-fold li').html('&#xe668;')
            $('.layui-body').css('left', side_width+'px');
            $('dd a').each(function(){
                $(this).show();
            });
            isShow =true;
        }
    });

</script>




</body>
</html>