<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %} - ZoeA</title>
    <!-- The Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/my.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css',_external=True) }}">
    <!-- js -->
    <script src="{{ url_for('static',filename='js/jQuery/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static',filename='layui/layui.js') }}"></script>
    <script src="{{ url_for('static',filename='js/myjs.js') }}"></script>
    <!-- echarts -->
    <script src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>

    {% block head %}{% endblock %}
</head>
<body>
{% set url = request.path %}
<div class="layui-container layui-fluid"  style="float: left;background-color: transparent;width: calc(100% - 100px);margin-top: 10px;">
    {% block body %}
        这是基类base.html中的内容
    {% endblock %}
    </div>
</body>
</html>